<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <title>爬虫养殖</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.min.css')}}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
   <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
    <script>
  window.console = window.console || function(t) {};
</script>
<div class="page">
    <h2 class="form-signin-heading">Login</h2>
    {% if error %}<p class="error"><strong>Error:</strong>{{error}}{%endif%}
    <form action="{{url_for('login')}}" method="post" role="form">
    <div class="form-group">
      <select class="form-control" name="username">
         <option value="wyq">吴逸群</option>
         <option value="hy">黄意</option>
         <option value="czs">陈致爽</option>
         <option value="rechal">林燕纯</option>
      </select>
   </div>

    
   <div class="form-group">
      <input class="form-control" type="password" placeholder="please enter the password" name="password">
   </div>
   <div class="form-group">
      <div class="col-xs-6 col-md-offset-3">
         <button type="submit" class="btn btn-lg btn-primary btn-block" >登录</button>
         <p class="text-center sign-up"><strong>Sign up</strong> for a new account</p>
      </div>
   </div>

    </form>
        <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</div>
</body>
</html>
